* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.iwy-wallet .depth-3-frame-01 {
  background: url('depth_3_frame_0.png') 50% / cover no-repeat, linear-gradient(#122112, #122112);
  width: 100%;
  height: 320px;
}

.iwy-wallet .depth-1-frame-0 {
  display: flex;
  width: 100%;
  height: 320px;
  box-sizing: border-box;
}

.iwy-wallet .welcome-to-iwy-wallet {
  overflow-wrap: break-word;
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  color: #FFFFFF;
}

.iwy-wallet .depth-1-frame-1 {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.iwy-wallet .the-web-3-crypto-wallet-with-free-fee-conception {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Space Grotesk';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

.iwy-wallet .depth-1-frame-2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.iwy-wallet .email {
  overflow-wrap: break-word;
  font-family: 'Space Grotesk';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

.iwy-wallet .depth-3-frame-0 {
  margin-bottom: 8px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}

.iwy-wallet .enter-your-email {
  overflow-wrap: break-word;
  font-family: 'Space Grotesk';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #94C794;
  background: #244724;
  border: none;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.iwy-wallet .depth-3-frame-1 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.iwy-wallet .depth-1-frame-3 {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 0 16px;
  box-sizing: border-box;
}

.iwy-wallet .request-early-access {
  overflow-wrap: break-word;
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #122112;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.iwy-wallet .depth-2-frame-0 {
  border-radius: 24px;
  background: #1AE51A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.iwy-wallet .depth-1-frame-4 {
  margin: 24px 0;
  width: 100%;
  box-sizing: border-box;
}

.iwy-wallet .depth-0-frame-0 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #122112;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.iwy-wallet {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.request-early-access.loading {
  background-color: #1AE51A;
  color: #FFFFFF;
  cursor: not-allowed;
}

.success-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1AE51A;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

.success-message .success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-message .success-content p {
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 16px;
  color: #122112;
  margin: 5px 0;
}
